.latestNewsMainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: inherit;
}

.latestNewsDoubleContainer {
  text-align: center;
  margin-bottom: 30px;
}

.centerLoader {
  justify-content: center;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .latestNewsDoubleContainer {
    margin-bottom: 10px;
  }  
}