.latestNewsMainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  width: inherit;
}

.latestNewsDoubleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}