.partieCouncilmenInformationMainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  width: inherit;
}

.partieCouncilmenInformationMainContainerDarkMode {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: inherit;
  background-color: #17181c;
}