.header {
  background-color: white;
  flex-direction: column;
  justify-content: center;
  height: 120px;
}

.title {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.navElems {
  margin: 0 10px 0 10px;
  font-size: 16px;
  color: #E2DADA;
  cursor: pointer;
}

.selectedElem {
  margin: 0 10px 0 10px;
  font-size: 16px;
  color: black;
}
