.partyHeaderLogoContainer {
  display: flex;
  width: 30%;
  justify-content: center;
}

.partieElems {
  cursor: pointer;
  font-size: 20px;
  color: #b6b1aa;
}

.partieElemsSelected {
  cursor: pointer;
  font-size: 20px;
  color: black;
}

.partieElemsSelectedDarkMode {
  color: #e8e7e3;
}

.partieHeaderContent {
  display: flex;
  flex-direction: row;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}