.partyHeaderLogoContainer {
  display: flex;
  width: 30%;
  justify-content: center;
}

.partieElems {
  cursor: pointer;
  font-size: 20px;
}

.partieHeaderContent {
  display: flex;
  flex-direction: row;
  height: 70px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 830px) {
  .partieHeaderContent {
    height: 90px;
  }
}