.mainContainerDark {
  overflow: hidden;
  filter: contrast(45%);
  -webkit-filter: contrast(45%);
  -moz-filter: contrast(45%);
  -o-filter: contrast(45%); 
  -ms-filter: contrast(45%);
}

.removeLinks {
  pointer-events: none;
}