.latestNewsSingleContainer {
  padding: 0 450px 0 450px;
}

.latestNewsContentContainer {
  display: flex;
  flex-direction: row;
  height: 120px;
  line-height: 25px;
  overflow: hidden;
  text-align: justify;
  font-size: 14px;
}

.latestNewsDiscussionContainer {
  display: flex;
  font-size: 12px;
  align-items: center;
}

.latestNewsDiscussionContainerLinkContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  text-decoration: none;
  align-items: center;
}

.latestNewsDiscussionSource {
  text-decoration: none;
}

.tags {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.commentIcons {
  font-size: 14px;
  cursor: pointer;
}

.latestNewsNavLink {
  text-decoration: none;
}

.commentContainer {
  padding-left: 10px; 
  cursor: pointer;
}

.newsTitle {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

.newsComment {
  text-decoration: none;
}

.newsImageContainer {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 250px;
  max-height: -webkit-fill-available;
  margin: 0 20px 5px 0;
  text-decoration: none;
}

.newsImage {
  width: inherit;
}

.newsImageSmaller {
  width: inherit;
}

.fadeoutMobile {
    position: sticky;
    bottom: 0em;
    width: 100%;
    height: 11em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 48%
    );
}

.fadeout {
  position: sticky;
  bottom: 0em;
  width: 100%;
  height: 2em;
  background: -webkit-linear-gradient(hsla(0,0%,100%,0),#fff 85%);
}

.contentFade {
  overflow: hidden;
  max-height: 85px;
}

.fadeoutDarkMode {
  background-image: -webkit-linear-gradient(top, rgba(23,24,28,0), #17181c);
  background: -webkit-linear-gradient(hsla(0,0%,0,100%),#fff 99%);
}

.newsTimeStamp {
  display: flex;
  flex-direction: row;
}

.tagList {
  display: flex;
  flex-direction: row;
}

.newsTimeUrl {
  display: flex;
  flex-direction: row;
}

.separator {
  padding: 0 5px;
}

.urlOverImage {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.7);
  height: 25px;
  width: 250px;
  font-size: 10px;
  bottom: 4%;
  word-wrap: break-word;
}