.appMainContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}

.adjustContentDrawer {
  padding-top: 90px;
}

@media only screen and (max-width: 830px) {
  .adjustContentDrawer {
    padding-top: 50px;
  }
}