.mainContainerDark {
  overflow: hidden;
  filter: blur(2px); 
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px); 
  -ms-filter: blur(2px);
}

.spacingAdjustment {
  height: 30px;
  margin-bottom: 20px;
}

.removeLinks {
  pointer-events: none;
}